/* common css start */

/* fonts start */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* fonts end */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1148px;
  margin: 0 auto;
}
:root {
  --brand: #036e8a;
  --white: #ffffff;
  --black: #000000;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
body {
  position: relative;
}
/* common css end */
/* nav start */
#nav {
  background: var(--white);
  padding: 14px 0;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
}
#nav .nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .nav-box ul {
  display: flex;
}
#nav .nav-box .navigator {
  column-gap: 47px;
}
#nav .nav-box .navigator li a {
  font-weight: 500;
  font-size: 15px;
  color: var(--brand);
  text-transform: uppercase;
}
#nav .nav-box .navicon {
  column-gap: 7px;
}
#nav .nav-box .navicon li a {
  display: flex;
  align-items: center;
}
#nav .nav-box .navicon li a img {
  width: 22px;
}

/* nav end */
/* banner start */
#banner {
  background: url("../images/bannerbg.png") no-repeat center;
  background-size: cover;
}
#banner .bnr-box {
  padding: 257px 0 199px;
  margin-left: 242px;
}
#banner .bnr-box h1 {
  font-weight: 700;
  font-size: 89px;
  color: var(--white);
  text-transform: uppercase;
}
#banner .bnr-box h1 span {
  display: block;
}
#banner .bnr-box .bnr-line {
  font-size: 20px;
  color: var(--white);
  width: 88%;
  line-height: 35px;
  margin-top: 24px;
}
#banner .bnr-box form {
  margin-top: 45px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#banner .bnr-box form input {
  position: relative;
}
#banner .bnr-box form label {
  display: flex;
  background-color: var(--white);
  max-width: 429px;
  padding: 17px 23px;
  border-radius: 5px;
}
#banner .bnr-box form label button {
  padding-right: 25px;
  background: transparent;
  border: none;
}
#banner .bnr-box form label input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  color: var(--brand);
}
#banner .bnr-box form label input::placeholder {
  font-size: 20px;
  color: var(--brand);
  text-transform: capitalize;
}

/* banner end */
/* destination start */
#destination {
  padding: 147px 0 71px;
}
#destination .destination-box {
  display: flex;
}
#destination .destination-box .txt span {
  color: var(--black);
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
#destination .destination-box .txt h2 {
  margin-top: 31px;
}
#destination .destination-box .txt h2 span {
  color: var(--brand);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}
#destination .destination-box .txt p {
  color: var(--black);
  width: 529px;
  margin-top: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#destination .destination-box .video {
  width: 508px;
  height: 369px;
}
/* destination end */
