/* common css start */

/* fonts start */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* fonts end */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1148px;
  margin: 0 auto;
}
:root {
  --brand: #036e8a;
  --white: #ffffff;
  --black: #000000;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
body {
  position: relative;
}
/* common css end */
/* nav start */
#nav {
  background: var(--white);
  padding: 14px 0;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
}
#nav .nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .nav-box ul {
  display: flex;
}
#nav .nav-box .navigator {
  column-gap: 47px;
}
#nav .nav-box .navigator li a {
  font-weight: 500;
  font-size: 15px;
  color: var(--brand);
  text-transform: uppercase;
}
#nav .nav-box .navicon {
  column-gap: 7px;
}
#nav .nav-box .navicon li a {
  display: flex;
  align-items: center;
}
#nav .nav-box .navicon li a img {
  width: 22px;
}

/* nav end */
/* banner start */
#banner {
  background: url("../images/bannerbg.png") no-repeat center;
  background-size: cover;
}
#banner .bnr-box {
  padding: 257px 0 199px;
  margin-left: 242px;
}
#banner .bnr-box h1 {
  font-weight: 700;
  font-size: 89px;
  color: var(--white);
  text-transform: uppercase;
}
#banner .bnr-box h1 span {
  display: block;
}
#banner .bnr-box .bnr-line {
  font-size: 20px;
  color: var(--white);
  width: 88%;
  line-height: 35px;
  margin-top: 24px;
}
#banner .bnr-box form {
  margin-top: 45px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#banner .bnr-box form input {
  position: relative;
}
#banner .bnr-box form label {
  display: flex;
  background-color: var(--white);
  max-width: 429px;
  padding: 17px 23px;
  border-radius: 5px;
}
#banner .bnr-box form label button {
  padding-right: 25px;
  background: transparent;
  border: none;
}
#banner .bnr-box form label input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  color: var(--brand);
}
#banner .bnr-box form label input::placeholder {
  font-size: 20px;
  color: var(--brand);
  text-transform: capitalize;
}

/* banner end */
/* destination start */
#destination {
  padding: 147px 0 71px;
}
#destination .destination-box {
  display: flex;
  justify-content: space-between;
}
#destination .destination-box .txt span {
  color: var(--black);
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
#destination .destination-box .txt h2 {
  margin-top: 31px;
}
#destination .destination-box .txt h2 span {
  color: var(--brand);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}
#destination .destination-box .txt p {
  color: var(--black);
  width: 529px;
  margin-top: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#destination .destination-box .video {
  width: 508px;
  height: 369px;
  position: relative;
}
#destination .destination-box .video .play {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
#destination .destination-box .video .play i {
  color: var(--brand);
  padding: 25px 27px;
  background-color: var(--white);
  border-radius: 50%;
}
/* destination end */
/* booking start */
#booking .booking-box {
  padding: 54px 64px 50px;
  border: 2px solid var(--brand);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#booking .booking-box .locatrate h3 {
  color: var(--brand);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#booking .booking-box .locatrate {
  position: relative;
}
#booking .booking-box .locatrate::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ff8000;
  position: absolute;
  top: 0;
  right: -20%;
}
#booking .booking-box .locatrate ul {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
#booking .booking-box .locatrate ul li a {
  color: #ff8000;
}
#booking .booking-box .locatrate ul li:last-child a {
  opacity: 0.5;
}
#booking .booking-box .price p {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#booking .booking-box .price h3 {
  color: var(--brand);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#booking .booking-box .book a {
  color: var(--white);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 43px;
  background-color: #ff8000;
  border-radius: 15px;
  text-transform: uppercase;
}
/* booking end */
/* package start */
#package {
  padding: 90px 0 180px;
  position: relative;
}
#package .shap {
  position: absolute;
  top: -70%;
  left: 18%;
}

#package .title {
  text-align: center;
}
#package .title h2 {
  color: var(--brand);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#package .title p {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 23px auto 0;
  line-height: 27px;
  max-width: 830px;
}
#package .package-box {
  display: flex;
  justify-content: space-between;
  margin-top: 91px;
}
#package .package-box .item {
  max-width: 357px;
  height: 518px;
  flex-shrink: 0;
  padding: 36px;
  border: 1px solid var(--brand);
  border-radius: 15px;
  position: relative;
  transition: 0.4s;
}
#package .package-box .item h3 {
  color: var(--brand);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.4s;
}
#package .package-box .item h3 p {
  display: block;
}
#package .package-box .item .time {
  color: var(--brand);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 6px;
  transition: 0.4s;
}
#package .package-box .item ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#package .package-box .item ul li svg {
  margin-right: 13px;
}
#package .package-box .item .getstart {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 14px 28px;
  background-color: var(--brand);
  border-radius: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  transition: 0.4s;
}
#package .package-box .item::after {
  content: "4 Days Trial Available";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#package .package-box .item ul li svg path {
  transition: 0.4s;
}
#package .package-box .item:hover {
  border: 1px solid #ff8000;
}
#package .package-box .item:hover h3 {
  color: #ff8000;
}
#package .package-box .item:hover .time {
  color: #ff8000;
}
#package .package-box .item:hover .getstart {
  background-color: #ff8000;
}
#package .package-box .item:hover ul li svg path {
  fill: #ff8000;
}
/* package end */
/* memories start */
#memori {
  background-color: var(--brand);
  padding: 69px 0;
  position: relative;
}
#memori .memori-box {
  display: flex;
  position: relative;
  z-index: 1;
}
#memori .memori-box .shap {
  position: absolute;
  top: -5%;
  left: 5%;
  z-index: -1;
}
#memori .memori-box .image {
  width: 50%;
}
#memori .memori-box .image img {
  border-radius: 15px;
  width: 508px;
  height: 523px;
}
#memori .memori-box .txt {
  width: 50%;
  margin-top: 76px;
}
#memori .memori-box .txt span {
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
#memori .memori-box .txt h2 {
  margin-top: 32px;
}
#memori .memori-box .txt h2 span {
  color: var(--white);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}
#memori .memori-box .txt p {
  color: var(--white);
  margin-top: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 95%;
  line-height: 30px;
}
/* memories end */
/* most start */
#most {
  padding: 111px 0;
}
#most .title {
  text-align: center;
}
#most .title h2 {
  color: var(--brand);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#most .title p {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 77%;
  margin: 23px auto 0;
}
#most .most-destination {
  margin-top: 106px;
  width: 100%;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
}
#most .most-destination .item {
  border-radius: 15px;
  overflow: hidden;
}
#most .most-destination .item img {
  width: 100%;
  height: 100%;
}
#most .most-destination .item:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
#most .most-destination .item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
#most .most-destination .item:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
#most .most-destination .item:nth-child(8) {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

/* most end */
/* counter start */
#counter {
  padding: 91px 0 120px;
  background: url("../images/counterbg.png") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#counter .pakageshap {
  position: absolute;
  top: -1150px;
  left: 20%;
  z-index: -1;
}
#counter .count-box {
  display: flex;
  justify-content: space-between;
}
#counter .count-box .item h2 {
  color: #707070;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#counter .count-box .item h2 .star {
  font-size: 20px;
}
#counter .count-box .item p {
  color: #707070;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
/* counter end */
/* newslatter start */
#newslatter {
  padding: 97px 0 129px;
}
#newslatter .newslatter-box {
  width: 100%;
  height: 720px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  gap: 22px;
}
#newslatter .newslatter-box .item:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#newslatter .newslatter-box .item:nth-child(2) {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}
#newslatter .newslatter-box .item:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
#newslatter .newslatter-box .item:last-child {
  grid-column: 3 / 6;
  grid-row: 2 / 4;
  margin-left: 20px;
}
#newslatter .newslatter-box .item .offer {
  color: var(--brand);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 70px;
  display: block;
}
#newslatter .newslatter-box .item h2 {
  margin-top: 31px;
}
#newslatter .newslatter-box .item h2 span {
  color: var(--brand);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#newslatter .newslatter-box .item form {
  margin-top: 60px;
  display: flex;
  align-items: center;
  column-gap: 17px;
}
#newslatter .newslatter-box .item form label {
  background-color: var(--white);
  border: 1px solid var(--brand);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 17px;
  max-width: 365px;
  border-radius: 15px;
}
#newslatter .newslatter-box .item form label input {
  border: none;
  padding: 10px 0;
  font-size: 20px;
  color: var(--brand);
}
#newslatter .newslatter-box .item form label input::placeholder {
  color: var(--brand);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#newslatter .newslatter-box .item form button {
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: #ff8000;
  border-radius: 15px;
  padding: 20px 40px;
}

/* newslatter end */

/* brand start */
#brand {
  padding: 0 0 120px;
  position: relative;
}
#brand .shap {
  position: absolute;
  top: -750px;
  left: 20%;
}
#brand .brand-box {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--brand);
  align-items: center;
  padding: 70px 73px;
  border-radius: 15px;
}
#brand .brand-box .item {
  position: relative;
}
#brand .brand-box .item::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--brand);
  position: absolute;
  top: 0;
  right: -40%;
}
#brand .brand-box .item:last-child:after {
  display: none;
}
/* brand end */
/* customer start */
#customer {
  padding: 0 0 155px;
}
#customer .title {
  text-align: center;
}
#customer .title h2 {
  color: var(--brand);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#customer .title p {
  margin-top: 23px;
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 830px;
  margin: 0 auto;
}
#customer .word-box {
  margin-top: 111px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 77px;
  position: sticky;
  z-index: 1;
}
#customer .word-box .item {
  max-width: 538px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  transition: 0.4s;
}
#customer .word-box .item .profile {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--white);
}
#customer .word-box .item h3 {
  color: var(--brand);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 26px;
  transition: 0.4s;
}
#customer .word-box .item h4 {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.4s;
}
#customer .word-box .item ul {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
#customer .word-box .item ul li {
  color: #ff8000;
  font-size: 10px;
  transition: 0.4s;
}
#customer .word-box .item p {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.4s;
}
#customer .word-box .item:hover h4,
#customer .word-box .item:hover h3,
#customer .word-box .item:hover ul li,
#customer .word-box .item:hover p {
  color: var(--white);
}
#customer .word-box .brand:hover {
  background-color: var(--brand);
}
#customer .word-box .yellow:hover {
  background-color: #ff8000;
}
/* customer end */
/* message start */
#message {
  padding: 0 0 120px;
}
#message .msg-box {
  width: 100%;
  height: 653px;
  border-radius: 40px;
  background-color: var(--brand);
  padding: 36px 51px;
  position: relative;
}
#message .msg-box .txt {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
}
#message .msg-box .txt h2 {
  color: var(--white);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 60px;
  position: relative;
}
#message .msg-box .txt h2::after {
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#message .msg-box .txt p {
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 60%;
  margin: 74px auto 0;
  padding-bottom: 60px;
  position: relative;
}
#message .msg-box .txt p::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#message .msg-box .txt .message {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #ff8000;
  margin-top: 43px;
  padding: 20px 66px;
  border-radius: 15px;
}
/* message end */
/* footer start */
#footer .foot-box {
  display: flex;
  justify-content: space-between;
}
#footer .foot-box .item h2 {
  color: var(--brand);
  font-size: 24.917px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 32px;
  position: relative;
}
#footer .foot-box .item h2::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--brand);
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer .foot-box .item ul {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer .foot-box .item ul li a {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#footer .copyright {
  margin-top: 100px;
  background-color: #ff8000;
  padding: 42px 0;
}
#footer .copyright .txt {
  display: flex;
  justify-content: space-between;
}
#footer .copyright .txt p {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#footer .copyright .txt ul {
  display: flex;
  gap: 10px;
}
#footer .copyright .txt ul li a svg {
  fill: var(--white);
}
/* footer end */
